*{
   margin:0;
   padding:0;
}
.header{
   min-height: 100vh;
   width:100%;
   background-position: center;
   background-size: cover;
   position: relative;
   
}
h1{
   color:#42b3f5;
   font-size: 30px;
   font-family: 'Noto Sans', sans-serif;
   display: inline-flex;
   padding-left: 8%;
   position: relative;
   top:20px;
}
#theme{
   color:lightgray;
   padding-left: 8%;
   font-size: 12px;
   position: relative;
   top:20px;
}
.main{
   display:block;

}
nav1{
   display: flex;
   justify-content: space-between;
}
#form {
   background-color:#fff;
   margin:5px solid #000;
   width: 300px;
   height: 44px;
   border-radius: 5px;
   display: flex;
   flex-direction: row;
   align-items: right;
   float:right;
   
 }
 input[type=search] {
   font: 16px;
   color: #fff;
   height: 100%;
   width: 100%;
   padding: 6px 10px;
   position: relative;
   top:20px;
   right:300px
 }
nav2{
   display: inline;
   padding:2% 6%;
   justify-content: space-evenly;
   align-items: right;
   position: inherit;
   top:60px;
   
}
.nav-links{
   text-align: left;
   background: black;
   width: 100%;
   
}
.nav-links ul li{
   list-style: none;
   display: inline-block;
   padding: 8px 12px;
   position: relative;
   
}
.nav-links ul li a{
   color:white;
   font-family: 'Open Sans', sans-serif;
   text-decoration: none;
   font-size: large;
}
.nav-links ul li a:hover{
   color: #42b3f5;
}
.nav-links ul li:hover::after{
   width:100%;
}
.container{
   display: grid;
   align-items: right;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 5px;
   padding-left:14%;
   position: absolute;
   bottom:20px;
}
.image{
   max-width: 100%;
   max-height: 100%;
}
.text-box{
   color:black;
   position: relative;
   top:20px;
}
.text-box h3{
   font-size: 25px;
   font-family: 'Open Sans', sans-serif;
}
.text-box p{
   font-size: 15px;
   font-family: 'Source Sans Pro', sans-serif;
}
.hero-btn{
   display: inline-block;
   text-decoration: none;
   color:white;
   font-family: 'Open Sans', sans-serif;
   border: 1px solid #42b3f5;;
   padding: 12px 34px;
   font-size: 20px;
   background-color:#42b3f5;;
   position: relative;
   top: 15px;
   cursor:pointer;
}
.img{
   float:left
}
footer{
   background-color: lightgrey;
   display: flex;
   justify-content:space-around;
   padding-top: 30px;
   position: relative;
   bottom:100px;
}
.one{
   padding-left: 5%;
}
.three{
   padding-right: 5%;
}
@media(max-width:600px){
   .text-box h3{
      font-size: 20px;
}
.text-box p{
   font-size: 17px;
}
.nav-links ul li{
   display: block;
}
.nav-links{
   position: relative;
   background: black;
   height: 100vh;
   width: 200px;
   text-align: left;
   float: left;
}
nav-links ul{
   padding: 30px;
} 
.container{
   display:inline-block;
   align-items: center;
}
footer{
   background-color: lightgrey;
   display:inline-block;
   justify-content:space-around;
}
#form{
   padding-left: 70%;
}
}
