body{
    margin: 0;
}

.title{
    display: flex;

}
.logo{

    
    
}

.right{
    position: relative;
    display: flex;
}

.title{
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.mtitle{
    display: flex;
    justify-content: center;
    width: 100%;
}
.navb{
    display: flex;
    padding:;
    width: 90%;
    

}
.nav1{
    display: flex;
    width: 100%;
    justify-content: center;
    
    background-color: rgba(0, 0, 0, 0.747);

}
.inp{
    display: flex;
    height: 50px;
    width: 40vh;
  
}


.mnav1{
    display: flex;
    justify-content: center;
}
input{
    margin: 5px;
    width: 40vh;
}


.navbtn{
    
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-weight: 700;

}

.navbtn:hover{
    color: rgb(0, 217, 255);
    cursor: pointer;

}
.nav2{
    width: 92%;
    height: 5vh;
    background-color: rgb(95, 184, 12);
    display: flex;
    align-items: center;
}
.mnav2{
    display: flex;
    justify-content: center;
}
.navbtn1{
    margin: 10px;
    color: aliceblue;
    font-weight: 700;

}
.l1{
    font-size: 40px;
    font-weight: 600;
    color: #0edaff;
}
.l2{
    color: #555;
}
.cont{
   
    width: 100%;
    background-color: white;
    position: relative;
    margin-top: 0;
    height: auto;
    
}
.cont img{
    width: 100%;

}
button{
    height: 45px;
    width: 100px;
    background-color: #0edaff;
    border: none;
}
.content{
    
    background-color: aliceblue;
    height: 70vh;
    display: flex;
    
    justify-content: center;
    

}
.mcontent{
    
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.three{
    display: flex;
    background-color: aliceblue;
    width: 90%;
    
}
.mthree{
    display: flex;
    justify-content: center;
}
.three1{

    flex: 1;
    margin: 10px;

}
.img{
    width: 50vh;
    height: 30vh;
    background-color: blanchedalmond;
}
img{
    height: 30vh;
    width: 50vh;
}
.txt{
    width: 20%;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    right: 30px;
    top:30px
}
.h1{
    color: black;
    font-weight: 900;
    font-size: 20px;
}
p{
    color: #555;
}
a{
    text-decoration: none;
    color: lightskyblue;
}

.img{
    left: 20vh;
    width: 40vh;
    height: 30vh;
    background-color: white;
}


.jpg{
    width: 100%;
    height: 100%;
}

@media(max-width:600px){


   .logo{
       width: 150px;
   }
    input{
        width: 30vh;
    }
    .nav2{
        overflow-x: scroll;
        overflow-y: hidden;

    }
    input{
        width: 100px;
        position: relative;
        
    }
    .inp{
        margin-left: 10vh;
    }
    .nav2::-webkit-scrollbar{
        display: none;
    }
    .navbtn{
        text-align: left;
        right: 60px;
    }
    .nav1{
        text-align: left;
        overflow-x: scroll;
        

    }
    .nav1::-webkit-scrollbar{
        display: none;
        
    }
    .txt{
        overflow-y: scroll;
        overflow-x: hidden;
        height: 30vh;
        width: 30vh;
        right: 10px;
        border: 1px solid;
    }
    .txt::-webkit-scrollbar{
      display: none;
    }
    .three{
        display: block;
    }
    .img{
        width: 100%;
    }
    img{
        width: 100%;
    }
}
